/* @theme HoraStyle */

@import 'default';


:root {
  font-family: "CMU Sans Serif", "Segoe UI", Helvetica, sans-serif;
  --main: #1f38c5;
  --secondary: #141414;
}


section {
  background-color: #ffffff;
  /* bottom two-coloured bar in base64 svg */
  background-image:
    url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB3aWR0aD0iMjUwbW0iIGhlaWdodD0iNS4zNTQ2bW0iIHZlcnNpb249IjEuMSIgdmlld0JveD0iMCAwIDI1MCA1LjM1NDYiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yMC4zNDcgLTkxLjAyOCkiPgo8cmVjdCB4PSIyMC4zNDciIHk9IjkxLjAyOCIgd2lkdGg9IjEyNSIgaGVpZ2h0PSI1LjM1NDYiIGZpbGw9IiMxNDE0MTQiIGZpbGwtcnVsZT0iZXZlbm9kZCIgc3Ryb2tlLXdpZHRoPSIwIi8+CjxwYXRoIGQ9Im0xNDUuMzUgOTMuNzA1di0yLjY3NzNoMTI1djUuMzU0NmgtMTI1eiIgZmlsbD0iIzFmMzhjNSIgc3Ryb2tlLXdpZHRoPSIwIi8+CjwvZz4KPC9zdmc+);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 150% 1em;
  padding: 2em;
}



header {
  font-size: 0.7em;
  /* this text-align is important */
  text-align: right;
  /* I don't like this absolute positioning, but it works */
  position: absolute;
  top: 96.2%;
  width: 100%;
  right: 0;
  left: -51%;
  color: white;
}

footer {
  font-size: 0.7em;
  position: absolute;
  /* this text-align is important */
  text-align: left;
  top: 96.2%;
  width: 100%;
  right: 0;
  left: 50.8%;
  color: white;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  color: #141414;
}

/* only apply to the first occurrence of h1 */
h1:nth-of-type(1) {
  font-family: "CMU Bright", "Segoe UI Semibold";
  color: #ffffff;
  background-color: var(--main);
  border-top: 0.3em solid var(--main);
  padding: 0;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 1.5em;
  text-indent: 0.5em;
}

pre {
  background-color: #ebffff; /* Dark background */
  border-radius: 10px;
  padding: 20px !important;
  box-shadow: 0 4px 6px rgba(0,0,0,0.5);
}
code {
  font-size: 1.2rem;
  font-family: 'Lucida Console', Monaco, 'Courier New', monospace;
}

/* formatting page numbers  */
section::after {
  font-size: 0.8em;
  /* https://github.com/yhatt/marp/issues/263 */
  content: attr(data-marpit-pagination) " / " attr(data-marpit-pagination-total);
  position: absolute;
  text-align: right;
  top: 94%;
  width: 100%;
  right: 0;
  left: -0.5em;
  color: rgb(116, 125, 255);
}

mark {
  background-color: rgba(255, 149, 122, 0.4);
  font-weight: bold;
  font-size: 1.1em;
}

/* inline math was too large wrt text */
.katex {
  font: normal 1.05em KaTeX_Main, "Times New Roman", serif
}

/* the "center" keyword centers the image - may break, careful */
/* https://github.com/marp-team/marpit/issues/141#issuecomment-473204518 */
img[alt~="center"] {
  display: block;
  margin: 0 auto;
}

/* || SECTION CLASS: title */
/* title page - only to be used as for a single slide */
/* <!-- _class: lead --> */
section.lead{
  padding: 0em;
}

section.lead>h1 {
  font-family: "CMU Bright", "Segoe UI Semibold";
  color: #ffffff;
  /* background-color: var(--main); */
  text-align: center;
  font-size: 4em;
  border-radius: 25px;
  top: 15%;
  left: 5%;
  right: 5%;
  padding-left: 0;
  padding-right: 0;
  width: 90%;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  height: auto;
}

section.lead>h2 {
  position: relative;
  text-align: center;
  top: 3.2em;
}
section.lead>h3 {
  font-family: "CMU Bright", "Segoe UI Semibold";
  color: #ffffff;
  position: fixed;
  font-size: 1.5em;
  z-index: 1;
  text-align: center;
  top: 20%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  padding-bottom: 0.2em;
  height: auto;
}


/* || SECTION CLASS: tinytext */
/* new class that makes p, ul, and blockquote text smaller */
/* might be useful for the References slide, use <!-- _class: tinytext --> */
section.tinytext>p,
section.tinytext>ul,
section.tinytext>blockquote {
  font-size: 0.8em;
}
