/* @theme marpit-theme */

@import "default";


<style>
  h1{
    font-size: 68px;
    background-image:-webkit-linear-gradient(top, rgb(0, 71, 54),rgb(25, 0, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 2px 2px 20px #0000000d;
  }
  h2, h3, h4, h5{
    color: black;
  }
  .high{
    font-weight: bold;
    color:red;
  }
</style>
<style scoped>
  h1{
    font-size: 118px;
    background-image:-webkit-linear-gradient(top, rgb(255, 0, 0),rgba(99, 0, 0, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 2px 2px 20px #0000000d;
  }
</style>