<?xml version="1.0" encoding="ascii"?><w:settings xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:r="http://schemas.openxmlformats.org/officeDocument/2006/relationships" xmlns:m="http://schemas.openxmlformats.org/officeDocument/2006/math" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w10="urn:schemas-microsoft-com:office:word" xmlns:w="http://schemas.openxmlformats.org/wordprocessingml/2006/main" xmlns:sl="http://schemas.openxmlformats.org/schemaLibrary/2006/main">
  <w:zoom w:percent="150"/>
  <w:bordersDoNotSurroundHeader/>
  <w:bordersDoNotSurroundFooter/>
  <w:activeWritingStyle w:appName="MSWord" w:lang="en-US" w:vendorID="64" w:dllVersion="6" w:nlCheck="1" w:checkStyle="0"/>
  <w:activeWritingStyle w:appName="MSWord" w:lang="zh-TW" w:vendorID="64" w:dllVersion="5" w:nlCheck="1" w:checkStyle="1"/>
  <w:activeWritingStyle w:appName="MSWord" w:lang="zh-TW" w:vendorID="64" w:dllVersion="0" w:nlCheck="1" w:checkStyle="1"/>
  <w:activeWritingStyle w:appName="MSWord" w:lang="en-US" w:vendorID="64" w:dllVersion="4096" w:nlCheck="1" w:checkStyle="0"/>
  <w:activeWritingStyle w:appName="MSWord" w:lang="zh-TW" w:vendorID="64" w:dllVersion="131077" w:nlCheck="1" w:checkStyle="1"/>
  <w:defaultTabStop w:val="480"/>
  <w:drawingGridHorizontalSpacing w:val="120"/>
  <w:displayHorizontalDrawingGridEvery w:val="0"/>
  <w:displayVerticalDrawingGridEvery w:val="2"/>
  <w:characterSpacingControl w:val="compressPunctuation"/>
  <w:hdrShapeDefaults>
    <o:shapedefaults v:ext="edit" spidmax="86018"/>
  </w:hdrShapeDefaults>
  <w:footnotePr>
    <w:footnote w:id="0"/>
    <w:footnote w:id="1"/>
  </w:footnotePr>
  <w:endnotePr>
    <w:endnote w:id="0"/>
    <w:endnote w:id="1"/>
  </w:endnotePr>
  <w:compat>
    <w:spaceForUL/>
    <w:balanceSingleByteDoubleByteWidth/>
    <w:doNotLeaveBackslashAlone/>
    <w:ulTrailSpace/>
    <w:doNotExpandShiftReturn/>
    <w:adjustLineHeightInTable/>
    <w:useFELayout/>
  </w:compat>
  <w:rsids>
    <w:rsidRoot w:val="00022468"/>
    <w:rsid w:val="000019A9"/>
    <w:rsid w:val="000048B5"/>
    <w:rsid w:val="00016EAD"/>
    <w:rsid w:val="00022468"/>
    <w:rsid w:val="00026018"/>
    <w:rsid w:val="0003209A"/>
    <w:rsid w:val="00032EC7"/>
    <w:rsid w:val="00035398"/>
    <w:rsid w:val="00041493"/>
    <w:rsid w:val="00046F67"/>
    <w:rsid w:val="0005603D"/>
    <w:rsid w:val="0006510C"/>
    <w:rsid w:val="00065CE9"/>
    <w:rsid w:val="00073CE8"/>
    <w:rsid w:val="000752DD"/>
    <w:rsid w:val="00077FAD"/>
    <w:rsid w:val="00081DEF"/>
    <w:rsid w:val="00085726"/>
    <w:rsid w:val="00096460"/>
    <w:rsid w:val="000A1879"/>
    <w:rsid w:val="000A79E1"/>
    <w:rsid w:val="000B5332"/>
    <w:rsid w:val="000B6E9C"/>
    <w:rsid w:val="000C2335"/>
    <w:rsid w:val="000C2728"/>
    <w:rsid w:val="000C3329"/>
    <w:rsid w:val="000C5457"/>
    <w:rsid w:val="000C5FB1"/>
    <w:rsid w:val="000D1B74"/>
    <w:rsid w:val="000D24C8"/>
    <w:rsid w:val="000D344F"/>
    <w:rsid w:val="000E0DDE"/>
    <w:rsid w:val="000E4445"/>
    <w:rsid w:val="000F3D6C"/>
    <w:rsid w:val="000F54AA"/>
    <w:rsid w:val="00106A3D"/>
    <w:rsid w:val="00113020"/>
    <w:rsid w:val="001336F6"/>
    <w:rsid w:val="00134204"/>
    <w:rsid w:val="001350DF"/>
    <w:rsid w:val="00140E0D"/>
    <w:rsid w:val="00142FD4"/>
    <w:rsid w:val="00143EEA"/>
    <w:rsid w:val="001478C5"/>
    <w:rsid w:val="00152683"/>
    <w:rsid w:val="00155854"/>
    <w:rsid w:val="00160DF1"/>
    <w:rsid w:val="001613C2"/>
    <w:rsid w:val="0016455F"/>
    <w:rsid w:val="0017144D"/>
    <w:rsid w:val="0017557C"/>
    <w:rsid w:val="001800AD"/>
    <w:rsid w:val="00182A93"/>
    <w:rsid w:val="00191263"/>
    <w:rsid w:val="00191F67"/>
    <w:rsid w:val="001A273D"/>
    <w:rsid w:val="001B17DB"/>
    <w:rsid w:val="001B27DB"/>
    <w:rsid w:val="001C6E09"/>
    <w:rsid w:val="001C72D8"/>
    <w:rsid w:val="001D6B79"/>
    <w:rsid w:val="001F0831"/>
    <w:rsid w:val="001F2C41"/>
    <w:rsid w:val="001F66D4"/>
    <w:rsid w:val="001F73B9"/>
    <w:rsid w:val="00202FEE"/>
    <w:rsid w:val="00210038"/>
    <w:rsid w:val="00213C5E"/>
    <w:rsid w:val="00215834"/>
    <w:rsid w:val="00221C5F"/>
    <w:rsid w:val="002233F5"/>
    <w:rsid w:val="002272CB"/>
    <w:rsid w:val="00227A26"/>
    <w:rsid w:val="00227D0B"/>
    <w:rsid w:val="00231A24"/>
    <w:rsid w:val="002347D9"/>
    <w:rsid w:val="002363AF"/>
    <w:rsid w:val="00241A21"/>
    <w:rsid w:val="00242A55"/>
    <w:rsid w:val="002471FD"/>
    <w:rsid w:val="00253A1D"/>
    <w:rsid w:val="0025537C"/>
    <w:rsid w:val="0026405F"/>
    <w:rsid w:val="0026409A"/>
    <w:rsid w:val="00273350"/>
    <w:rsid w:val="0027578D"/>
    <w:rsid w:val="00276067"/>
    <w:rsid w:val="00280C89"/>
    <w:rsid w:val="00284ACE"/>
    <w:rsid w:val="00286BFD"/>
    <w:rsid w:val="00287695"/>
    <w:rsid w:val="00290F4B"/>
    <w:rsid w:val="002A2B35"/>
    <w:rsid w:val="002A603F"/>
    <w:rsid w:val="002B6155"/>
    <w:rsid w:val="002B65D4"/>
    <w:rsid w:val="002C49E4"/>
    <w:rsid w:val="002C66F7"/>
    <w:rsid w:val="002E2B1E"/>
    <w:rsid w:val="002E3CBE"/>
    <w:rsid w:val="002F52A2"/>
    <w:rsid w:val="002F6F20"/>
    <w:rsid w:val="003003CE"/>
    <w:rsid w:val="00310CEB"/>
    <w:rsid w:val="0031178B"/>
    <w:rsid w:val="00315465"/>
    <w:rsid w:val="00320AA4"/>
    <w:rsid w:val="003214DB"/>
    <w:rsid w:val="00323CE3"/>
    <w:rsid w:val="00324A6E"/>
    <w:rsid w:val="0033630C"/>
    <w:rsid w:val="003371ED"/>
    <w:rsid w:val="0034018B"/>
    <w:rsid w:val="0034418E"/>
    <w:rsid w:val="003453A5"/>
    <w:rsid w:val="00356D10"/>
    <w:rsid w:val="00373367"/>
    <w:rsid w:val="00377C1F"/>
    <w:rsid w:val="00387096"/>
    <w:rsid w:val="00393A4A"/>
    <w:rsid w:val="003A2590"/>
    <w:rsid w:val="003B106F"/>
    <w:rsid w:val="003B37C6"/>
    <w:rsid w:val="003B4A10"/>
    <w:rsid w:val="003C6A07"/>
    <w:rsid w:val="003D1D33"/>
    <w:rsid w:val="003D3569"/>
    <w:rsid w:val="003E32EA"/>
    <w:rsid w:val="003E38BE"/>
    <w:rsid w:val="003E54B4"/>
    <w:rsid w:val="003E63DD"/>
    <w:rsid w:val="003F52C0"/>
    <w:rsid w:val="004016B9"/>
    <w:rsid w:val="00402953"/>
    <w:rsid w:val="004034BE"/>
    <w:rsid w:val="00412F4A"/>
    <w:rsid w:val="00414DC3"/>
    <w:rsid w:val="0042106A"/>
    <w:rsid w:val="00422553"/>
    <w:rsid w:val="004267F8"/>
    <w:rsid w:val="004279DC"/>
    <w:rsid w:val="00434CE6"/>
    <w:rsid w:val="00436BF8"/>
    <w:rsid w:val="00437B58"/>
    <w:rsid w:val="00437B7C"/>
    <w:rsid w:val="00437D43"/>
    <w:rsid w:val="00441F5B"/>
    <w:rsid w:val="0044522C"/>
    <w:rsid w:val="0045055C"/>
    <w:rsid w:val="004567A9"/>
    <w:rsid w:val="004568A9"/>
    <w:rsid w:val="00457C3A"/>
    <w:rsid w:val="004600A7"/>
    <w:rsid w:val="00460688"/>
    <w:rsid w:val="004745BA"/>
    <w:rsid w:val="004829B2"/>
    <w:rsid w:val="004928BA"/>
    <w:rsid w:val="0049578B"/>
    <w:rsid w:val="00495910"/>
    <w:rsid w:val="00496554"/>
    <w:rsid w:val="004A3BAC"/>
    <w:rsid w:val="004A42BF"/>
    <w:rsid w:val="004B258C"/>
    <w:rsid w:val="004B2DBA"/>
    <w:rsid w:val="004B3824"/>
    <w:rsid w:val="004B532A"/>
    <w:rsid w:val="004B724D"/>
    <w:rsid w:val="004B7DF4"/>
    <w:rsid w:val="004C2355"/>
    <w:rsid w:val="004C4ADC"/>
    <w:rsid w:val="004C5470"/>
    <w:rsid w:val="004D1C49"/>
    <w:rsid w:val="004D2321"/>
    <w:rsid w:val="004D49B8"/>
    <w:rsid w:val="004D6B13"/>
    <w:rsid w:val="004D6FF7"/>
    <w:rsid w:val="004E7D7C"/>
    <w:rsid w:val="004F1D1F"/>
    <w:rsid w:val="004F22D2"/>
    <w:rsid w:val="004F7ADD"/>
    <w:rsid w:val="005070F4"/>
    <w:rsid w:val="005151E8"/>
    <w:rsid w:val="00515357"/>
    <w:rsid w:val="0052517C"/>
    <w:rsid w:val="00527B61"/>
    <w:rsid w:val="00527E21"/>
    <w:rsid w:val="005320D6"/>
    <w:rsid w:val="00535C59"/>
    <w:rsid w:val="00536A12"/>
    <w:rsid w:val="00544725"/>
    <w:rsid w:val="00553364"/>
    <w:rsid w:val="005664EF"/>
    <w:rsid w:val="0056666D"/>
    <w:rsid w:val="00573991"/>
    <w:rsid w:val="005778C3"/>
    <w:rsid w:val="005830E9"/>
    <w:rsid w:val="00583DA1"/>
    <w:rsid w:val="0058561B"/>
    <w:rsid w:val="00590C8D"/>
    <w:rsid w:val="005A1E8F"/>
    <w:rsid w:val="005A3E67"/>
    <w:rsid w:val="005A588A"/>
    <w:rsid w:val="005A6B85"/>
    <w:rsid w:val="005B1343"/>
    <w:rsid w:val="005B4A34"/>
    <w:rsid w:val="005C379A"/>
    <w:rsid w:val="005D5512"/>
    <w:rsid w:val="005F2F19"/>
    <w:rsid w:val="005F4EF1"/>
    <w:rsid w:val="00605972"/>
    <w:rsid w:val="006073D6"/>
    <w:rsid w:val="00611188"/>
    <w:rsid w:val="00612A63"/>
    <w:rsid w:val="006232EC"/>
    <w:rsid w:val="0062560A"/>
    <w:rsid w:val="00630BE8"/>
    <w:rsid w:val="00631178"/>
    <w:rsid w:val="00632598"/>
    <w:rsid w:val="00640582"/>
    <w:rsid w:val="00640BA6"/>
    <w:rsid w:val="00641D6F"/>
    <w:rsid w:val="00642DB7"/>
    <w:rsid w:val="006465EE"/>
    <w:rsid w:val="006477BC"/>
    <w:rsid w:val="006535A5"/>
    <w:rsid w:val="00654BB0"/>
    <w:rsid w:val="0067271B"/>
    <w:rsid w:val="0067550A"/>
    <w:rsid w:val="00677AFF"/>
    <w:rsid w:val="006811F7"/>
    <w:rsid w:val="0068306D"/>
    <w:rsid w:val="006842CE"/>
    <w:rsid w:val="00696FB7"/>
    <w:rsid w:val="006A2257"/>
    <w:rsid w:val="006A2587"/>
    <w:rsid w:val="006C05C7"/>
    <w:rsid w:val="006C1853"/>
    <w:rsid w:val="006C1A3F"/>
    <w:rsid w:val="006C20D1"/>
    <w:rsid w:val="006C2386"/>
    <w:rsid w:val="006C61AA"/>
    <w:rsid w:val="006D15CC"/>
    <w:rsid w:val="006D2D46"/>
    <w:rsid w:val="006D6DF2"/>
    <w:rsid w:val="006E2C58"/>
    <w:rsid w:val="006E6B32"/>
    <w:rsid w:val="006E74E4"/>
    <w:rsid w:val="006F06EE"/>
    <w:rsid w:val="006F408A"/>
    <w:rsid w:val="006F51D2"/>
    <w:rsid w:val="006F6B91"/>
    <w:rsid w:val="00702A4A"/>
    <w:rsid w:val="00703275"/>
    <w:rsid w:val="00715D65"/>
    <w:rsid w:val="007163C3"/>
    <w:rsid w:val="00716630"/>
    <w:rsid w:val="00720058"/>
    <w:rsid w:val="0072752C"/>
    <w:rsid w:val="00730E3D"/>
    <w:rsid w:val="00731155"/>
    <w:rsid w:val="0073346A"/>
    <w:rsid w:val="0073384B"/>
    <w:rsid w:val="00750141"/>
    <w:rsid w:val="007603E4"/>
    <w:rsid w:val="00760E91"/>
    <w:rsid w:val="007637BC"/>
    <w:rsid w:val="0076496E"/>
    <w:rsid w:val="00765FAD"/>
    <w:rsid w:val="007704F7"/>
    <w:rsid w:val="0077312C"/>
    <w:rsid w:val="0077362F"/>
    <w:rsid w:val="0077411E"/>
    <w:rsid w:val="007749B8"/>
    <w:rsid w:val="00774D97"/>
    <w:rsid w:val="00787512"/>
    <w:rsid w:val="00796BAA"/>
    <w:rsid w:val="007A6B30"/>
    <w:rsid w:val="007B6981"/>
    <w:rsid w:val="007C111D"/>
    <w:rsid w:val="007C4C0C"/>
    <w:rsid w:val="007D27AD"/>
    <w:rsid w:val="007D39CD"/>
    <w:rsid w:val="007D41A0"/>
    <w:rsid w:val="007D4EB3"/>
    <w:rsid w:val="007E0247"/>
    <w:rsid w:val="007E09F5"/>
    <w:rsid w:val="007F451A"/>
    <w:rsid w:val="00804BB3"/>
    <w:rsid w:val="00805DAC"/>
    <w:rsid w:val="00806276"/>
    <w:rsid w:val="00812011"/>
    <w:rsid w:val="00814D82"/>
    <w:rsid w:val="00821072"/>
    <w:rsid w:val="00834086"/>
    <w:rsid w:val="008434DD"/>
    <w:rsid w:val="0084798F"/>
    <w:rsid w:val="0085112B"/>
    <w:rsid w:val="008520E1"/>
    <w:rsid w:val="008553D1"/>
    <w:rsid w:val="00857455"/>
    <w:rsid w:val="008757A7"/>
    <w:rsid w:val="00877928"/>
    <w:rsid w:val="00881966"/>
    <w:rsid w:val="00882396"/>
    <w:rsid w:val="008B0098"/>
    <w:rsid w:val="008B24BC"/>
    <w:rsid w:val="008B4E30"/>
    <w:rsid w:val="008C6782"/>
    <w:rsid w:val="008D06F8"/>
    <w:rsid w:val="008D2BA9"/>
    <w:rsid w:val="008D4CAA"/>
    <w:rsid w:val="008D4D5D"/>
    <w:rsid w:val="008D583C"/>
    <w:rsid w:val="008D6679"/>
    <w:rsid w:val="008D79B0"/>
    <w:rsid w:val="008E7534"/>
    <w:rsid w:val="008F1EBC"/>
    <w:rsid w:val="00901B68"/>
    <w:rsid w:val="009029DD"/>
    <w:rsid w:val="0091557B"/>
    <w:rsid w:val="00916094"/>
    <w:rsid w:val="00921C89"/>
    <w:rsid w:val="00924A75"/>
    <w:rsid w:val="0092518E"/>
    <w:rsid w:val="0092642E"/>
    <w:rsid w:val="0094142A"/>
    <w:rsid w:val="00943AF1"/>
    <w:rsid w:val="00944ED6"/>
    <w:rsid w:val="0094600E"/>
    <w:rsid w:val="009471B0"/>
    <w:rsid w:val="00947897"/>
    <w:rsid w:val="0097061C"/>
    <w:rsid w:val="00971AFA"/>
    <w:rsid w:val="009748CD"/>
    <w:rsid w:val="009759DD"/>
    <w:rsid w:val="00976F69"/>
    <w:rsid w:val="00983BE9"/>
    <w:rsid w:val="0098714B"/>
    <w:rsid w:val="00987D45"/>
    <w:rsid w:val="009931FB"/>
    <w:rsid w:val="009A71E7"/>
    <w:rsid w:val="009B2A8B"/>
    <w:rsid w:val="009C18B8"/>
    <w:rsid w:val="009D5CB9"/>
    <w:rsid w:val="009F2A18"/>
    <w:rsid w:val="009F4FFC"/>
    <w:rsid w:val="009F58A1"/>
    <w:rsid w:val="00A00430"/>
    <w:rsid w:val="00A02C80"/>
    <w:rsid w:val="00A04809"/>
    <w:rsid w:val="00A132BE"/>
    <w:rsid w:val="00A179B6"/>
    <w:rsid w:val="00A27E69"/>
    <w:rsid w:val="00A341D9"/>
    <w:rsid w:val="00A359DB"/>
    <w:rsid w:val="00A4187B"/>
    <w:rsid w:val="00A434C1"/>
    <w:rsid w:val="00A4657B"/>
    <w:rsid w:val="00A5524F"/>
    <w:rsid w:val="00A55E99"/>
    <w:rsid w:val="00A57936"/>
    <w:rsid w:val="00A600B8"/>
    <w:rsid w:val="00A70BCE"/>
    <w:rsid w:val="00A721D6"/>
    <w:rsid w:val="00A7540B"/>
    <w:rsid w:val="00A84B75"/>
    <w:rsid w:val="00AA4F72"/>
    <w:rsid w:val="00AB0EFF"/>
    <w:rsid w:val="00AB285F"/>
    <w:rsid w:val="00AB7C9E"/>
    <w:rsid w:val="00AD20CA"/>
    <w:rsid w:val="00AD2359"/>
    <w:rsid w:val="00AD5D09"/>
    <w:rsid w:val="00AE1339"/>
    <w:rsid w:val="00AE1BCB"/>
    <w:rsid w:val="00AE3889"/>
    <w:rsid w:val="00AE43B7"/>
    <w:rsid w:val="00B017A6"/>
    <w:rsid w:val="00B05AC1"/>
    <w:rsid w:val="00B103EC"/>
    <w:rsid w:val="00B15AA0"/>
    <w:rsid w:val="00B31C36"/>
    <w:rsid w:val="00B3343E"/>
    <w:rsid w:val="00B35C7F"/>
    <w:rsid w:val="00B436CC"/>
    <w:rsid w:val="00B45F33"/>
    <w:rsid w:val="00B46BAE"/>
    <w:rsid w:val="00B500BE"/>
    <w:rsid w:val="00B514FE"/>
    <w:rsid w:val="00B55D55"/>
    <w:rsid w:val="00B634A4"/>
    <w:rsid w:val="00B65499"/>
    <w:rsid w:val="00B65881"/>
    <w:rsid w:val="00B67A42"/>
    <w:rsid w:val="00B67F37"/>
    <w:rsid w:val="00B7485F"/>
    <w:rsid w:val="00B74CA2"/>
    <w:rsid w:val="00B77225"/>
    <w:rsid w:val="00B94B55"/>
    <w:rsid w:val="00B965DD"/>
    <w:rsid w:val="00BA128A"/>
    <w:rsid w:val="00BA387E"/>
    <w:rsid w:val="00BA3EF5"/>
    <w:rsid w:val="00BB3324"/>
    <w:rsid w:val="00BB3B23"/>
    <w:rsid w:val="00BC0EF5"/>
    <w:rsid w:val="00BC37F9"/>
    <w:rsid w:val="00BC7B15"/>
    <w:rsid w:val="00BD1AED"/>
    <w:rsid w:val="00BD2A41"/>
    <w:rsid w:val="00BE22F1"/>
    <w:rsid w:val="00BE294B"/>
    <w:rsid w:val="00BE66C9"/>
    <w:rsid w:val="00BE6E8E"/>
    <w:rsid w:val="00BE7E6A"/>
    <w:rsid w:val="00BF2BA5"/>
    <w:rsid w:val="00BF466E"/>
    <w:rsid w:val="00BF5CCB"/>
    <w:rsid w:val="00C13736"/>
    <w:rsid w:val="00C13B78"/>
    <w:rsid w:val="00C21CFE"/>
    <w:rsid w:val="00C21D5A"/>
    <w:rsid w:val="00C26888"/>
    <w:rsid w:val="00C31AD2"/>
    <w:rsid w:val="00C32723"/>
    <w:rsid w:val="00C33A08"/>
    <w:rsid w:val="00C34595"/>
    <w:rsid w:val="00C3725F"/>
    <w:rsid w:val="00C429F6"/>
    <w:rsid w:val="00C43E1B"/>
    <w:rsid w:val="00C44761"/>
    <w:rsid w:val="00C45B6B"/>
    <w:rsid w:val="00C55C28"/>
    <w:rsid w:val="00C9551F"/>
    <w:rsid w:val="00CA59A6"/>
    <w:rsid w:val="00CB03A6"/>
    <w:rsid w:val="00CC0C2F"/>
    <w:rsid w:val="00CC17E9"/>
    <w:rsid w:val="00CD0329"/>
    <w:rsid w:val="00CD1720"/>
    <w:rsid w:val="00CD20C3"/>
    <w:rsid w:val="00CD338D"/>
    <w:rsid w:val="00CD74D5"/>
    <w:rsid w:val="00CE0F8D"/>
    <w:rsid w:val="00CF3A19"/>
    <w:rsid w:val="00D03629"/>
    <w:rsid w:val="00D0463E"/>
    <w:rsid w:val="00D21D17"/>
    <w:rsid w:val="00D22930"/>
    <w:rsid w:val="00D27322"/>
    <w:rsid w:val="00D27C52"/>
    <w:rsid w:val="00D308E5"/>
    <w:rsid w:val="00D37FB6"/>
    <w:rsid w:val="00D404CE"/>
    <w:rsid w:val="00D45D29"/>
    <w:rsid w:val="00D579A8"/>
    <w:rsid w:val="00D65A29"/>
    <w:rsid w:val="00D71C9F"/>
    <w:rsid w:val="00D74923"/>
    <w:rsid w:val="00D8485E"/>
    <w:rsid w:val="00D849AA"/>
    <w:rsid w:val="00D87F99"/>
    <w:rsid w:val="00D96A24"/>
    <w:rsid w:val="00DA4B7F"/>
    <w:rsid w:val="00DB19B1"/>
    <w:rsid w:val="00DB3220"/>
    <w:rsid w:val="00DB343B"/>
    <w:rsid w:val="00DC2588"/>
    <w:rsid w:val="00DC40F7"/>
    <w:rsid w:val="00DC6261"/>
    <w:rsid w:val="00DC6FB9"/>
    <w:rsid w:val="00DD4262"/>
    <w:rsid w:val="00DD5800"/>
    <w:rsid w:val="00DE7CC0"/>
    <w:rsid w:val="00DF210C"/>
    <w:rsid w:val="00DF60C6"/>
    <w:rsid w:val="00DF7969"/>
    <w:rsid w:val="00E01653"/>
    <w:rsid w:val="00E03A5A"/>
    <w:rsid w:val="00E2000B"/>
    <w:rsid w:val="00E22474"/>
    <w:rsid w:val="00E24C17"/>
    <w:rsid w:val="00E31B82"/>
    <w:rsid w:val="00E367B7"/>
    <w:rsid w:val="00E36951"/>
    <w:rsid w:val="00E5297D"/>
    <w:rsid w:val="00E57582"/>
    <w:rsid w:val="00E614FA"/>
    <w:rsid w:val="00E62925"/>
    <w:rsid w:val="00E7727A"/>
    <w:rsid w:val="00E87F6F"/>
    <w:rsid w:val="00E95102"/>
    <w:rsid w:val="00E967AC"/>
    <w:rsid w:val="00E96847"/>
    <w:rsid w:val="00EA5AFF"/>
    <w:rsid w:val="00EA6E2A"/>
    <w:rsid w:val="00EB4B46"/>
    <w:rsid w:val="00EC7390"/>
    <w:rsid w:val="00ED0091"/>
    <w:rsid w:val="00EE09B9"/>
    <w:rsid w:val="00EE2145"/>
    <w:rsid w:val="00F009C9"/>
    <w:rsid w:val="00F01B8D"/>
    <w:rsid w:val="00F0621C"/>
    <w:rsid w:val="00F1013B"/>
    <w:rsid w:val="00F16BB3"/>
    <w:rsid w:val="00F20598"/>
    <w:rsid w:val="00F20DCE"/>
    <w:rsid w:val="00F219A4"/>
    <w:rsid w:val="00F2396C"/>
    <w:rsid w:val="00F23D45"/>
    <w:rsid w:val="00F24CA0"/>
    <w:rsid w:val="00F32761"/>
    <w:rsid w:val="00F371C6"/>
    <w:rsid w:val="00F37758"/>
    <w:rsid w:val="00F47D93"/>
    <w:rsid w:val="00F47F41"/>
    <w:rsid w:val="00F54A04"/>
    <w:rsid w:val="00F55A73"/>
    <w:rsid w:val="00F56375"/>
    <w:rsid w:val="00F62B86"/>
    <w:rsid w:val="00F655BC"/>
    <w:rsid w:val="00F66186"/>
    <w:rsid w:val="00F67A48"/>
    <w:rsid w:val="00F70129"/>
    <w:rsid w:val="00F71444"/>
    <w:rsid w:val="00F76916"/>
    <w:rsid w:val="00F76BAE"/>
    <w:rsid w:val="00F92BAF"/>
    <w:rsid w:val="00F93AF7"/>
    <w:rsid w:val="00F95264"/>
    <w:rsid w:val="00FA0562"/>
    <w:rsid w:val="00FA06A1"/>
    <w:rsid w:val="00FA3E41"/>
    <w:rsid w:val="00FB34E1"/>
    <w:rsid w:val="00FB3B31"/>
    <w:rsid w:val="00FB60B6"/>
    <w:rsid w:val="00FC11E7"/>
    <w:rsid w:val="00FD1746"/>
    <w:rsid w:val="00FE04CF"/>
    <w:rsid w:val="00FE2C4B"/>
    <w:rsid w:val="00FF0839"/>
    <w:rsid w:val="00FF2E5D"/>
    <w:rsid w:val="00FF4A32"/>
    <w:rsid w:val="00FF6F5A"/>
    <w:rsid w:val="00FF7A79"/>
  <w:rsid w:val="D30097E3"/></w:rsids>
  <m:mathPr>
    <m:mathFont m:val="Cambria Math"/>
    <m:brkBin m:val="before"/>
    <m:brkBinSub m:val="--"/>
    <m:smallFrac/>
    <m:dispDef/>
    <m:lMargin m:val="0"/>
    <m:rMargin m:val="0"/>
    <m:defJc m:val="centerGroup"/>
    <m:wrapIndent m:val="1440"/>
    <m:intLim m:val="subSup"/>
    <m:naryLim m:val="undOvr"/>
  </m:mathPr>
  <w:themeFontLang w:val="en-US" w:eastAsia="zh-TW"/>
  <w:clrSchemeMapping w:bg1="light1" w:t1="dark1" w:bg2="light2" w:t2="dark2" w:accent1="accent1" w:accent2="accent2" w:accent3="accent3" w:accent4="accent4" w:accent5="accent5" w:accent6="accent6" w:hyperlink="hyperlink" w:followedHyperlink="followedHyperlink"/>
  <w:shapeDefaults>
    <o:shapedefaults v:ext="edit" spidmax="86018"/>
    <o:shapelayout v:ext="edit">
      <o:idmap v:ext="edit" data="1"/>
    </o:shapelayout>
  </w:shapeDefaults>
  <w:decimalSymbol w:val="."/>
  <w:listSeparator w:val=","/>
</w:settings>